<!DOCTYPE html> <html>
 <head><script data-ad-client="ca-pub-1948810955443333" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <title>lntechnical</title> <meta charset="utf-8"> <meta name="viewport" content= "width=device-width, initial-scale= 1.0">
</head>
<style>
body{ background-color: orange}
h1 { font-family:verdana;
text-align:center;
border:3px solid black;
}
ul { 
list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; top: 0; width: 100%;}

li { float: left; } li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; } li a:hover:not(.active)


</style>

<body>
    <h1>LNTECHNICAL</h1>
    <ul> 
    <li><a class="active" href="#home"> Home</a>
    </li>
    <li><a href=" https://t.me/lntechnical ">Support</a>
     </li> 
     <li><a href="#about">About</a> 
     </li> 
     </ul>
      
    

<div class="g-ytsubscribe" data-channelid="UCxV8fWQAm7s-S7RVK51yw-A" data-layout="full" data-theme="dark" data-count="default"></div>

<h2>Projects</h2>

<h2 style="text-align:center"; >Google Translater</h2>

<p> Our First project in telegram bot it is open source. This simple bot you can translate any      
language to Selected language</p>
<a href=" https://t.me/Googletranslateitbot">GOOGLE TRANSLATER</a>
<p></p>
<a href =" https://github.com/lntechnical2/Google-Translater-">SOURCE</a>
<h2 style="text-align:center"; >Music Downloader</h2>

<p>This Bot Downloading Music from Youtube. Send Name of the music or Youtube link and get mp3 song </p>

<a href="https://t.me/MusicUtubebot ">MUSIC DOWNLOADER</a>

<h2 style="text-align:center"; >Image To PDF</h2>
<p> This Bot can convert image to PDF just send image and get pdf file </p>
<a href=" https://t.me/lnImage2pdfbot ">IMAGE TO PDF</a>
<h2 style="text-align:center"; >Thumbnail Downloader</h2>
<p> This bot downloading thumbnali image from youtube video. Just send youtube link and get thumbnail</p>

<a href=" https://t.me/YouTube_Thumbnailbot">THUMBNAIL DOWNLOADER</a>
<p></p>
<a href=" https://github.com/lntechnical2/Thumbnail-generator">SOURCE</a>


   
   <script src="https://apis.google.com/js/platform.js">
   </script>  
     
</body>


</html>
